<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="styles/layout.css">
  <title>Ninestars</title>
</head>

<body>
  <div id="testimonials">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Ninestars</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li>
              <button type="button" class="getstarted">Get Started</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div id="landingpage">
    <div class="row landing">
      <div class="col-lg-6">
        <h2 class="heading">Better digital expreience with Ninestars</h2>
        <h4 class="subheading ">We are team of talented designers making website with Bootstrap</h4>
        <div class="get1"><button type="button" class="getstarted py-lg-2">Get Started</button></div>
      </div>
      <div class="col-lg-6">
        <img class="landingimage" src="/images/hero-img.png" width="95%">
      </div>
    </div>
  </div>
  <div id="aboutus">
    <div class="row">
      <div class="col-lg-6">
        <img src="/images/about.png" width="95%">
      </div>
      <div class="col-lg-6">
        <h2>Voluptatem dignissimos provident quasi</h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, veniam optio, animi, nam quibusdam sed at
          dolore quam dolorem rem porro nulla? Consequatur et assumenda, natus veniam distinctio voluptatum quae!</h4>
          <img src="/images/google-sheets.png">
          <h3>Corporis voluptates sit</h3>
          <h4>Consequuntur sunt aut quasi enim aliquam harum pariatur laboris nisi ut aliquip</h4>
          <h3>ullamco laboris nisi</h3>
          <h4>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</h4>
        </div>
    </div>
  </div>
</body>

</html>